<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/comment/new" method="post">
    <section>
      <label for="username">username</label>
      <input type="text" id="username" name="username" placeholder="enter username">
    </section>
    <section>
      <label for="comment">comment</label>
      </br>
      <textarea name="comment" id="comment" cols="15" rows="5" placeholder="enter comment"></textarea>
      <button type="submit">submit</button>
    </section>
    <div>
      <a href="/">home</a>
    </div>
  </form>
</body>

</html>